<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="thumbnail">
                <img src="pic1.jpg" alt="img">
                <div class="time">
                    11:10
                </div>
            </div>
            <div class="info">
                <h4 class="title">A Short Story On Hackers | Channel Name</h4>
                <div class="details">
                    <ul>
                        <li class="ChName">Channel Name</li>
                        <li class="views">757K</li>
                        <li class="months">2 months ago</li>
                    </ul>
                </div>
            </div>
        </div>
        <button class="add">Add</button>
    </div>
    <script src="script.js"></script>
</body>

</html>